.formWrapper {
  display: flex;
  flex-direction: column;
  width: 327px;

  .formMail,
  .formPassword {
    height: 33px;
    border-bottom: 1px solid #bbc3cf;
    padding: 1px;
  }
  .formPassword {
    margin-top: 55px;
  }
  input {
    width: 99%;
    height: 99%;
    border: none;
    color: #64738c;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    background-color: transparent;
    &::placeholder {
      color: #64738c;
    }
  }
}
