.formWrapper {
  display: flex;
  flex-direction: column;
  width: 327px;

  .formMail,
  .formPassword {
    border-bottom: 1px solid #bbc3cf;
    height: 33px;
    padding: 1px;
    position: relative;
  }
  .formMail,
  .errorFormMail {
    margin-bottom: 55px;
  }
  .defaultInput {
    width: 99%;
    height: 99%;
    border: none;
    color: #64738c;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    background-color: transparent;
    &::placeholder {
      color: #64738c;
    }
  }
  .errorInput {
    width: 99%;
    height: 99%;
    border: none;
    color: red;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    background-color: transparent;
    &::placeholder {
      color: red;
    }
  }
  .errorFormMail,
  .errorFormPassword {
    border-bottom: 1px solid red;
    height: 33px;
    padding: 1px;
    position: relative;
  }
}

.errorText {
  position: absolute;
  bottom: -20px;
  font-size: 12px;
  color: red;
}
