.locationWrapper {
  width: 327px;
  border-bottom: 1px solid #64738c;
  select {
    background-color: transparent;
    width: 100%;
    border: none;
    font-size: 16px;
    letter-spacing: 0.1px;
    font-weight: normal;
    padding-bottom: 8px;
  }
  .dropdown {
    margin-top: 10px;
  }
  .localePContainer {
    .localeP {
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.2px;
      color: #64738c;
    }
  }
}
