@font-face {
  font-family: 'SFProDisplay';
  src: local('SFProDisplay'),
    url('../../fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
}

.navbarWrapper {
  display: flex;
  height: 88px;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;

  p {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    font-family: 'SFProDisplay' !important;
    letter-spacing: 0.04em;
    margin-top: 5px;
  }
  .navbarList,
  .navbarAccount {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
  }
  .navbarList {
    margin-left: 28.5%;

    img {
      width: 18px;
      height: 18px;
    }
  }
  .navbarAccount {
    margin-right: 28.5%;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .navbarAccount,
  .navbarList {
    a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:visited {
        color: #000000;
      }
    }
  }
}
