.shoppingCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 100px auto;

  .productListContainer {
    width: 100%;
    height: 75%;
  }

  .shoppingCardLine {
    margin-top: 17px;
    background-color: #f1f3f5;
    height: 1px;
    width: 351px;
  }

  .priceContainer {
    margin-top: 40px;
  }
}
