@import './styles/index';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;

  .navbarContainer {
    position: absolute;
    bottom: 0;
    width: 100vw;
  }
}
